.categorySelection{
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    padding: 10px;
    border: 1px solid silver;
    margin: auto;
}
.categorySelection > label{
display: flex;
max-width: 100px;
align-items: center;
}
body #midAdmin{
   
    display: flex;
    justify-content: center;
    width: 100vw;
}
#ticketHistory{
    width: 40%;
    border: 1px solid grey;
}
#midAdmin #ticketForm{
    all: unset;
    width: 50vw;
    padding: 20px;
}
